{% extends 'base.html' %} {% block content %}
<main class="container py.5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa architecto,
          nostrum amet possimus ab excepturi voluptatibus adipisci dolorem soluta rem
          voluptates iste cupiditate fugit quisquam voluptate laborum nobis laudantium
          ea!
        </p>

        <div class="text-center">
            <a class ="btn btn-dark" href="/signin/">
                Sigin
            </a>

            <a class ="btn btn-dark" href="/signup/">
                Sigup
            </a>
        </div>
      </section>
</main>
{% endblock %}
